<div class="container">
    <div style="background-color: darkgray; color:black; padding-top:30px;height:400px; text-align:center;border:solid,border-width:.5px;border-radius:5px;">
        <h1 style="font-size:40px;">CNBC.COM</br></hr>
        <p style="font-size:20px;">_____________________________________________</br></p>
         <p style="font-size:20px; margin-top:20px;">
            Click on the button above to scrape articles.<br>
            Save the articles you like to reference them later.
        </p>    
    </div>
</div>    