.body {
    background: #bbb8b8;
    background: -webkit-linear-gradient(left, #bbb8b8, #808080);
    background: -moz-linear-gradient(left, #bbb8b8, #808080);
    background: -ms-linear-gradient(left, #bbb8b8, #808080);
    background: -o-linear-gradient(left, #bbb8b8, #808080);
    background: linear-gradient(to right, #bbb8b8, #808080);
    font-family: sans-serif, serif;
    color: black;
}


/*.mongoScraperBar {
    background-color: black;
}*/

.logo-title {
    padding-top: 50px;
    margin-left: 50px;
    /*color: white;*/
    font-size: 40px;
}

#bigLogo {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 200px;
    height: 200px;
    display: none;
}

.signup {
    color: black;
    background-color: gray;
    font-style: bold;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 50px;
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 3px;
    border-radius: 1px;
}

.category-title {
    color: black;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article {
    width: 250px;
    height: 325px;
}

.article a:hover {
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.article-box {
    border: solid;
    border-color: black;
    border-width: .25px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.article-img {
    margin: 2px 3px 2px 2px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.article-description {
    margin: 10px 10px 10px 10px;
    width: 95%;
    font-size: 1.0em;
    color: black;
}

.article-readmore {
    font-size: .9em;
    color: gray;
}

.article-like-box {
    width: 100%;
    text-align: right;
    position: relative;
    top: 0;
    left: 0;
    margin-top: -70px;
}

.article-like {
    margin-top: 10px;
    height: 15px;
    width: 16px;
}

.subject-page-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
}

.subject-article-box {
    border: solid;
    border-color: black;
    border-width: .5px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 25px;
    width: 350px;
    height: 300px;
    float: left;
}

.subject-article-box a:hover {
    text-decoration: none;
    cursor: pointer;
}

.subject-article-img {
    margin: 5px 10px 10px 10px;
    width: 95%;
    height: 200px;
}

.subject-article-description {
    margin-left: 15px;
    width: 90%;
    font-size: 1.0em;
    color: black;
}

.subject-article-like-box {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    text-align: right;
    margin-top: 0px;
}

.subject-article-like {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 60px;
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-style: bold;
    background-color: gray;
    color: black;
    text-align: center;
}